header{
    width:300px;
    margin:0 auto;
}
body{
    background-image: url(https://cdn-ak.f.st-hatena.com/images/fotolife/u/ummmmmmmmmmm/20220329/20220329141123.png);
    background-size: cover;
}
